.footer{
    
    background-color: #fafafa;
    border-top: 1px solid #d9d9d9;
    padding: 20px;
}

.card_box{
    display: flex;

    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;

    margin-left: -8px;
    margin-right: -8px;
}

.footer_card{
    margin-left: 1%;
    margin-right: 1%;
    width: auto;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.06);
    padding: 8px  !important;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #fff;
}

.card_img{
    padding: 20px;
    width: 20%;
    float: right;
}

.float_container{
    
}

.card_text{
    float: left;
}

.fine_text{
    text-decoration: none;
    padding:20px;
    width: 100%;
    text-align: center;
    margin: auto;
}

.fine_text_link{
    color:rgba(0, 0, 0, 0.692);
    text-decoration: none;
    padding:10px;
    width: 100%;
    text-align: center;
    margin: auto;
}